/L3/TOO/TP1/nbproject/private/
/L3/TOO/TP1/build/
/L3/TOO/TP1/dist/
/L3/TOO/TP1_CPP/build/
/L3/TOO/TP1_CPP/dist/
/L3/TOO/TP2/nbproject/private/
/L3/TOO/TP2/build/
/L3/TOO/TP2_CPP/build/
/L3/TOO/TP2_CPP/dist/
/L3/TOO/TP3/nbproject/private/
/L3/TOO/TP3/build/
/L3/TOO/TP4/nbproject/private/