html 
{
  height: 100%;
	counter-reset: section;
}

body 
{
	padding: 0;
	margin:0;
	height: 100%;
}

header, footer
{ 
	padding: 0;
	margin:0;
  background-color: cadetblue;
}

#disclaimer
{
	width:100%;
	text-align: center;
	margin-top:0;
}

h1
{
	color:white;
	width:100%; 
	text-align:center;
	margin-top: 0;
}

nav
{
	display:flex;
	width:100%;
}

nav div
{
	flex:1;
	text-align:center;
	border: 1px solid white;
}

nav div ul
{
	background-color:cadetblue;
	width:20%;
	position:absolute;
	padding : 0;
  	margin : 1px;
	display:none;
	list-style:none;
	text-align:center;
	left:20%;
}

nav div a
{
	color: white;
}

nav div ul li
{
	margin:1px;
	border: 1px solid white;
	color: white;
}

nav div:hover ul
{
	display:block;
}

nav>a
{
	border: 1px solid white;
	text-align: center;
	flex:1;
	color: white;
}

section
{
	display: flex;
}

aside
{
	background-color:darkseagreen;
	color: white;
	text-align: center;
	display:flex;
	flex-direction:column;
	justify-content: center;
	width:20%;
}

aside ul
{
  	list-style-image: url('../Images/list-icon.gif');
	padding: 0;
	margin:0;
}

aside>ul
{
	padding-top: 10px;
}

aside li ul
{
	padding: 5px;
	list-style: none;
}

aside li li
{
	padding: 1px;
}

article
{
	flex:1;
	padding-top:20px;
	padding-left: 20px;
	padding-right:20px;
	  background-image: url('../Images/filigrane.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2
{
	text-align: center;
  counter-reset: subsection;
	color:darkblue;
	margin:0;
}

h2:before 
{
    counter-increment: section;
    content: counter(section) ". ";
}

h3
{
	color:blue;
}

h3:before 
{
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ". ";
}

#equipement
{
	display:flex;
	width:100%;
	position:absolute;
}

#equipement img
{
	margin-left: auto;
	margin-right: auto;
	transition:all 1s;
}


#equipement img:hover
{
	width:150px;
	height:150px;
}

#equipement+h3
{
	margin-top:100px;
}

#video
{
	text-align: center;
	margin-bottom: 20px
}

article p+fieldset
{
	flex:1;
}

legend
{
	font-weight:bold;
}

fieldset
{
	 box-shadow: 10px 10px 5px #888888;
	 background-color: ghostwhite;
}

#accueil
{
	height:100%;
}

#id_image
{
	padding-right: 20px;
}

#galleryDisplay
{
	display:flex;
}

#description
{
	margin: auto;
}

#carousel
{
		text-align: center;
}

article p:last-of-type
{
	margin-bottom: 0;
	padding-bottom: 20px;
}

footer 
{
	text-align: center;
	display: flex;
}

footer a,footer p
{
	color: white;
	flex:1;
	margin: auto;
}
