/*-------------------------*\
    Footer
\*-------------------------*/

footer{
  display:flex;
  flex-direction: line;
  position:fixed;
  bottom: 0;
  left: 10px;
  margin: 0 -5px;

}


/* Textarea */

textarea{
  width:700px;
  height: 210px;
  resize: none;
  background-color: lightgrey;
  border-style: none;
  margin: 0 5px;
}

/* Panel de contrôle */

#panel{
  display:flex;
  flex-direction:column;
  width:300px;
  height: 210px;
  border-radius: 12px;
  border: 3px solid black;
  background-image: url("../Ressources/metal.jpeg");
  margin: 0 5px;
}

#controllers{
  display:flex;
  flex-direction: line;
  width: 100%;
}

#requests{
  display:flex;
  flex-direction: line;
  align-items: center;
  width: 100%;
}

#gauche,#droite{
  display:flex;
  flex-direction: column;
}

#gauche{
  margin-left: 10px;
  margin-right: 5px;
}

#droite{
  margin-right: 10px;
  margin-left: 5px;
}

#controllers>input{
  width:80px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border: 3px solid black;
}

#controllers>input:hover{
  background-color: white;
  color: black;
}

#boutonStart{
  background-color: blue;
  color: white;
  font-size: 18px;
  transition-duration: 0.4s;
  border-radius: 12px;
}

#boutonGo{
  background-color: green;
  color: white;
  font-size: 18px;
  transition-duration: 0.4s;
  border-radius: 12px;
}

#boutonStop{
  background-color: red;
  color: white;
  font-size: 18px;
  transition-duration: 0.4s;
  border-radius: 12px;
}

.boutonRequest{
  background-color: grey;
  color: white;
  border: 3px solid black;
  width:135px;
  height: 40px;
  margin-top: 10px;
  font-size: 18px;
  transition-duration: 0.4s;
  border-radius: 12px;
}

.boutonRequest:hover{
  background-color: white;
  color: black;
}
